header{
    background-color: #274c77;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
main{
    flex: 1 0 auto;
    
}
main{
    background-color: #94d2bd;
}
.orignalstring {
    background-color: #274c77;
}
footer{
    background-color: #274c77;
}